@page "/"

<main>
    <section title="news">
        <ul class="without-icon">
            <li>
                <section>first news</section>
            </li>
            <li>
                <section>hello world</section>
            </li>
        </ul>
    </section>
</main>