@using Conesoft.Blazor.Components.Base
@using Conesoft.Files
@using Conesoft.Hosting
@using Conesoft_Website_News.Features.RssFinder.Services
@using Serilog

@page "/"

@rendermode InteractiveServer

@inject RssFinderService rssFinderService

<main>
    <AddText Placeholder="domain to scan for rss feed / rss feed url" TextChanged="AddNewsSource" />

    <section>
        <ListItems Items="@urls" class="without-icon">
            <ItemContent>
                <section><a href="@context" target="_blank">@context</a></section>
            </ItemContent>
            <EmptyContent>
                <aside>no rss feeds found :(</aside>
            </EmptyContent>
        </ListItems>
    </section>
</main>

@code {
    List<string> urls = [];

    public async Task AddNewsSource(AddText.AddTextArgs args)
    {
        urls.Clear();
        StateHasChanged();
        await foreach(var link in rssFinderService.FindRssFeedsOnUrl(args.Value, args.Cancellation))
        {
            urls.Add(link);
            StateHasChanged();
        }
    }
}