@using Conesoft.Blazor.Components.Base
@using Conesoft.Files
@using Conesoft.Hosting
@using Conesoft_Website_News.Features.RssFinder.Services
@using Serilog

@page "/"

@rendermode InteractiveServer

@inject RssFinderService rssFinderService

<main>
    <section id="addnewentry">
        <input type="text" placeholder="domain to scan for rss feed / rss feed url" @bind="@url" @bind:event="oninput" @onkeydown=@AddNewsSourceIfEnter />
        <button @onclick=@AddNewsSource>＋</button>
    </section>

    @if (foundUrls?.Length > 0)
    {
        <section>
            <ul class="without-icon">
                @foreach (var foundUrl in foundUrls)
                {
                    <li>
                        <section>@foundUrl</section>
                    </li>
                }
            </ul>
        </section>
    }
    else if (foundUrls != null)
    {
        <aside>no rss feeds found :(</aside>
    }
</main>

@code {
    string url = "";
    string[]? foundUrls = null;

    public async Task AddNewsSource()
    {
        foundUrls = await rssFinderService.FindRssFeedsOnUrl(url);
    }

    public void AddNewsSourceIfEnter(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Code == "Enter" || eventArgs.Code == "NumpadEnter")
        {
            AddNewsSource();
        }
    }
}