@using Conesoft.Blazor.Components.Base
@using Conesoft.Files
@using Conesoft.Hosting
@using Conesoft_Website_News.Features.RssFinder.Services
@using Serilog

@page "/"

@rendermode InteractiveServer

@inject RssFinderService rssFinderService

<main>
    <section>
        <AddText Placeholder="domain to scan for rss feed / rss feed url" TextChanged="AddNewsSource" />
    </section>

    @if (urls?.Length > 0)
    {
        <section>
            <ul class="without-icon">
                @foreach (var url in urls)
                {
                    <li>
                        <section>@url</section>
                    </li>
                }
            </ul>
        </section>
    }
    else if (urls != null)
    {
        <aside>no rss feeds found :(</aside>
    }
</main>

@code {
    string[]? urls = null;

    public async Task AddNewsSource(string url)
    {
        urls = await rssFinderService.FindRssFeedsOnUrl(url);
    }
}