@using Conesoft.Blazor.Components
@using Conesoft.PwaGenerator

<!DOCTYPE html>
<html lang="en">

<head prefix="og: http://ogp.me/ns#">
    <HtmlHead />
    <PwaHeaderTags />
</head>
<body>
    <Routes />
    <BootBlazor />
</body>

</html>
